.header {
  height: 100px;
  border: 1px solid black;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 75%;
  height: 80px;
  border: 1px solid black;
  display: flex;
}

.logo-parent {
  border: 1px solid red;
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-parent {
  border: 1px solid green;
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-child {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.symbol-parent {
  border: 1px solid blue;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol-child {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.login-parent {
  /* border: 1px solid red; */
  flex: 2;
  display: flex;
  align-items: center;
}

.login-child {
  width: 80%;
  height: 20%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.banner {
  height: 60px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  background-color: yellow;
}

#bottom-header {
  height: 5px;
}

.main {
  border: 1px solid black;
  border-top: none;
  min-height: 500px;
  display: flex;
  justify-content: center;
  background-color: beige;
}

.main-parent {
  border: 1px solid red;
  min-height: 300px;
  width: 50%;
  padding: 0;
  margin: 30px 0;
}

.main-child {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.box {
  border: 1px solid blue;
  height: 500px;
  width: 250px;
}

.footer {
  border: 1px solid black;
  min-height: 150px;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-parent {
  width: 80%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.footer-child {
  border: 1px solid green;
  display: flex;
}

#footer-top {
  flex: 3;
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  /* justify-content: flex-end; */
  align-items: center;
}

#footer-bottom {
  flex: 2;
}
