body {
  background: #f6f4f0;
}

.header {
  border: 1px solid black;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 10%;
  border-radius: 20px;
  opacity: 0.96;
  background: var(--Black-bg, #2a2c2e);
  backdrop-filter: blur(46.5px);
}

.logo {
  margin-right: 100px;
  margin-left: 0;
  border: 1px solid red;
}

.list {
  border: 1px solid red;
}

.icon {
  border: 1px solid red;
}

.login {
  border: 1px solid red;
  margin-right: 0;
}

.banner {
  height: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1%;
  align-items: center;
  background: var(--Yellow-500, #f4ce47);
}

.main {
  border: 1px solid blue;
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Black-bg, #2a2c2e);
}

.book-row {
  border: 1px solid red;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.book {
  border: 1px solid green;
  width: 180px;
  height: 350px;
  margin: 0;
}

.footer {
  border: 1px solid red;
  min-height: 8px;
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Black-bg, #2a2c2e);
}

.footer-logo {
  border: 1px solid black;
  flex: 1;
  padding: 1%;
  display: flex;
  align-items: center;
}

.footer-icon {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;
  padding: 1%;
}

.footer-bottom {
  border: 1px solid blue;
  width: 80%;
  margin: 0 10% 1% 10%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
}

.footer-term {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2%;
}

.footer-contact {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2%;
}
