body {
  background: #f6f4f0;
}

.header {
  border: 1px solid black;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 10%;
  border-radius: 20px;
  opacity: 0.96;
  background: var(--Black-bg, #2a2c2e);
  backdrop-filter: blur(46.5px);
}

.logo {
  margin-right: 100px;
  margin-left: 2%;
}

.list {
  color: var(--White-Medium-emphasis, rgba(255, 255, 255, 0.6));
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

#yellow-book {
  color: var(--Yellow-400, #f4d867);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.login {
  margin-right: 2%;
  padding: 16px 20px;
  border-radius: 16px;
  background: var(--Yellow-500, #f4ce47);
}

.banner {
  height: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1%;
  align-items: center;
  background: var(--Yellow-500, #f4ce47);
  color: var(--Yellow-700, #f4ba30);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  text-transform: uppercase;
}

#center-book {
  color: var(--Black-bg, #2a2c2e);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  text-transform: uppercase;
}

.main {
  border: 1px solid blue;
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Black-bg, #2a2c2e);
}

.book-row {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.book {
  width: 210px;
  height: 350px;
  margin: 1% 0 0.5% 0;
  border-radius: 20px;
  background: var(--White-High-emphasis, #fff);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.book-img {
  height: 230px;
  padding: 0 10%;
}

#book-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;

  width: auto;
}

.book-comment {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  padding: 2px 15px;
  gap: 5px;
  color: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.018px;
  border-radius: 31px;
  border: 1px solid var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
}

.book-star {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  padding: 2px 15px;
  color: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
  gap: 5px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.018px;
  border-radius: 47px;
  border: 1px solid var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
}

#authors {
  border-radius: 20px;
  background: var(--White-High-emphasis, #fff);
  color: var(--Black-Medium-empathis, rgba(0, 0, 0, 0.6));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.021px;
}

#title {
  color: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

#price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

#price-original {
  color: var(--Black-Disabled, rgba(0, 0, 0, 0.38));
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.027px;
  text-decoration: line-through;
}

#price-discount {
  color: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.027px;
}

.footer {
  min-height: 8px;
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Black-bg, #2a2c2e);
}

.footer-logo {
  flex: 1;
  padding: 1%;
  display: flex;
  align-items: center;
}

.footer-icon {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;
  padding: 1%;
}

.footer-bottom {
  width: 80%;
  margin: 0 10% 1% 10%;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Black-High-empathis, rgba(0, 0, 0, 0.87));
}

.footer-term {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2%;
  color: var(--White-High-emphasis, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.018px;
}

.footer-contact {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2%;
  color: var(--White-High-emphasis, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.018px;
}
