* {
  box-sizing: border-box; /* box-sizing:  The width and height you set will now include the content, padding, and border, but not the margin.*/
  margin: 0; /* reset the margin and padding to zero */
  padding: 0;
}

body {
  background-color: #f6f4f0;

  /* gap between header,nav,main,footer */
  gap: 16px;
}

header > .container {
  width: 1200px;
  height: 96px;
  background-color: #2a2c2e;

  /*set margin to center*/
  margin: 0 auto;

  /* flex  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* flex-additional */
  gap: 16px; /*safe gap*/
}

nav {
  color: #ffffff;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* flex-additional props */
  gap: 16px;
}
